<% @title="star" %>
<div class="histogramme_header">
  <p>
    Баланс по Количеству
  </p>
</div>
<div class="histogramme" data-controller="barChartCheckboxes" >
  <div class="wood_yin">
    <div class="indicator_wrapper" id="indicator_wrapper">
      <div id="wood_yin_range"
        data-target="barChartCheckboxes.indicatorWrapper"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="woodYin">
        <div class="indicator_background" id="wood_yin_indicator_background" data-id="woodYin">
          <div class="indicator" id="wood_yin" data-target="barChartCheckboxes.woodYin"
          data-id="woodYin"></div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Wood', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
      <div class="wu_yun_oninput">
        <form oninput="output.value = Math.round(slide_wood_yin.value)">
          <div class="slider_wrapper ">
            <div class="slider" >F</div>
            <input type="range" value="<%= value %>" step="5" id="slide_wood_yin" >Инь
              <output class="output" name="output" for="range">
               <%= value %>
              </output>
          </div>
        </form>
      </div>
    <div class="container_label">
      <div class="container_label">
         <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label class="liver1_wrapper">
          <div id="liver1_wrapper">
            <input type="checkbox" id="liver1" class="liver1"
              data-name="liver1"
              data-target="barChartCheckboxes.liver1"
              data-action="change->barChartCheckboxes#liver1Effect" >F.1
          </div>
        </label>
        <label class="gallBladder43_wrapper">
        <div id="gallBladder43Copy1_wrapper">
          <input type="checkbox" class="gallBladder43" id="gallBladder43Copy1"
            data-name="gallBladder43Copy1"
            data-target="barChartCheckboxes.gallBladder43Copy1"
            data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
          </div>
        </label>
        <label class="lung9_wrapper">
          <div id=lung9_wrapper>
          <input type="checkbox" class="lung9" id="lung9"
            data-name="lung9"
            data-target="barChartCheckboxes.lung9"
            data-action="change->barChartCheckboxes#lung9Effect"  >P.9
          </div>
        </label>
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label class="lung8_wrapper">
          <div id=lung8Copy1_wrapper>
            <input type="checkbox" class="lung8" id="lung8Copy1"
              data-name="lung8Copy1"
              data-target="barChartCheckboxes.lung8Copy1"
              data-action="change->barChartCheckboxes#lung8Effect" >P.8
          </div>
        </label>
        <label class="kidney10_wrapper">
        <div id="kidney10Copy6_wrapper">
          <input type="checkbox"  class="kidney10" id="kidney10Copy6"
            data-name="kidney10Copy6"
            data-target="barChartCheckboxes.kidney10Copy6"
            data-action="change->barChartCheckboxes#kidney10Effect" >R.10
        </div>
        </label>
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label>
          <input type="checkbox" id=""
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >F.
        </label>
        </div>
    </div>
  </div>

  <div class="wood_yang">
    <div class="indicator_wrapper">
      <div id="wood_yang_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="woodYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="woodYang">
        <div class="indicator_background" id="wood_yang_indicator_background" data-id="woodYang" >
          <div class="indicator" id="wood_yang" data-target="barChartCheckboxes.woodYang"
              data-id="woodYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Wood', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_wood_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider">Gb</div>
          <input type="range" value="50" step="5"  id="slide_wood_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
    </div>
    <div class="container_label">
      <label class="liver8_wrapper">
        <div id="liver8Copy1_wrapper">
          <input type="checkbox" class="liver8" id="liver8Copy1"
            data-name="liver8Copy1"
            data-target="barChartCheckboxes.liver8Copy1"
            data-action="change->barChartCheckboxes#liver8Effect" >F.8
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="gallBladder43_wrapper">
        <div id="gallBladder43_wrapper">
          <input type="checkbox" class="gallBladder43" id="gallBladder43"
            data-name="gallBladder43"
            data-target="barChartCheckboxes.gallBladder43"
            data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
        </div>
      </label>
      <label class="lung9_wrapper">
        <div id="lung9Copy_wrapper" >
          <input type="checkbox" class="lung9" id="lung9Copy1"
            data-name="lung9Copy1"
            data-target="barChartCheckboxes.lung9Copy"
            data-action="change->barChartCheckboxes#lung9Effect" >P.9
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="kidney10_wrapper">
        <div id="kidney10Copy5_wrapper">
          <input type="checkbox"  class="kidney10" id="kidney10Copy5"
            data-name="kidney10Copy5"
            data-target="barChartCheckboxes.kidney10Copy5"
            data-action="change->barChartCheckboxes#kidney10Effect" >R.10
        </div>
        </label>
    </div>
  </div>

  <div class="fire_yin">
    <div class="indicator_wrapper">
      <div id="fire_yin_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="fireYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="fireYin">
        <div class="indicator_background" id="fire_yin_indicator_background" data-id="fireYin" >
          <div class="indicator" id="fire_yin" data-target="barChartCheckboxes.fireYin"
              data-id="fireYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Fire', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
      <div class="wu_yun_oninput">
        <form oninput="output.value = Math.round(slide_fire_yin.value)">
          <div class="slider_wrapper ">
            <div class="slider">C</div>
           <input type="range" value="50" step="5" id="slide_fire_yin">Инь
              <output class="output" name="output" for="range">
                50
              </output>
            </div>
        </form>
      </div>
    <div class="container_label" >
      <label class="liver8_wrapper">
        <div id="liver8Copy2_wrapper">
          <input type="checkbox" class="liver8" id="liver8Copy2"
            data-name="liver8Copy2"
            data-target="barChartCheckboxes.liver8Copy2"
            data-action="change->barChartCheckboxes#liver8Effect" >F.8
        </div>
      </label>
      <label class="liver1_wrapper">
        <div id="liver1Copy2_wrapper">
          <input type="checkbox" class="liver1" id="liver1Copy2"
            data-name="liver1Copy2"
            data-target="barChartCheckboxes.liver1Copy2"
            data-action="change->barChartCheckboxes#liver1Effect" >F.1
        </div>
      </label>
      <label class="gallBladder43_wrapper">
        <div id="gallBladder43Copy2_wrapper">
          <input type="checkbox" class="gallBladder43" id="gallBladder43Copy2"
            data-name="gallBladder43Copy2"
            data-target="barChartCheckboxes.gallBladder43Copy2"
            data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
        </div>
      </label>
      <label class="lung9_wrapper">
        <div id="lung9Copy2_wrapper" >
          <input type="checkbox" class="lung9" id="lung9Copy2"
            data-name="lung9Copy2"
            data-target="barChartCheckboxes.lung9Copy2"
            data-action="change->barChartCheckboxes#lung9Effect" >P.9
        </div>
      </label>
       <label class="stomach36_wrapper">
        <div id="stomach36_wrapper">
          <input type="checkbox" class="stomach36" id="stomach36"
            data-name="stomach36"
            data-target="barChartCheckboxes.stomach36"
            data-action="change->barChartCheckboxes#stomach36Effect" >E.36
        </div>
      </label>
      <label class="lung8_wrapper">
        <div id=lung8Copy2_wrapper>
          <input type="checkbox" class="lung8" id="lung8Copy2"
            data-name="lung8Copy2"
            data-target="barChartCheckboxes.lung8Copy2"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
    </div>
  </div>

  <div class="fire_yang">
    <div class="indicator_wrapper">
      <div id="fire_yang_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="fireYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="fireYang">
        <div class="indicator_background" id="fire_yang_indicator_background" data-id="fireYang" >
          <div class="indicator" id="fire_yang" data-target="barChartCheckboxes.fireYang"
            data-id="fireYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Fire', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_fire_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider">Ig</div>
            <input type="range" value="50" step="5" id="slide_fire_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
        </div>
      </form>
    </div>

      <div class="container_label">
      <label class="liver8_wrapper">
        <div id="liver8Copy3_wrapper">
          <input type="checkbox" class="liver8" id="liver8Copy3"
            data-name="liver8Copy3"
            data-target="barChartCheckboxes.liver8Copy3"
            data-action="change->barChartCheckboxes#liver8Effect" >F.8
        </div>
      </label>
        <label class="liver1_wrapper">
          <div id="liver1Copy3_wrapper">
            <input type="checkbox" class="liver1" id="liver1Copy3"
              data-name="liver1Copy3"
              data-target="barChartCheckboxes.liver1Copy3"
              data-action="change->barChartCheckboxes#liver1Effect" >F.1
          </div>
        </label>
        <label class="gallBladder43_wrapper">
          <div id="gallBladder43Copy3_wrapper">
            <input type="checkbox" class="gallBladder43" id="gallBladder43Copy3"
              data-name="gallBladder43Copy3"
              data-target="barChartCheckboxes.gallBladder43Copy3"
              data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
          </div>
      </label>
      <label class="lung9_wrapper">
        <div id="lung9Copy3_wrapper" >
          <input type="checkbox" class="lung9" id="lung9Copy3"
            data-name="lung9Copy3"
            data-target="barChartCheckboxes.lung9Copy3"
            data-action="change->barChartCheckboxes#lung9Effect" >P.9
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="lung8_wrapper">
        <div id=lung8Copy3_wrapper>
          <input type="checkbox" class="lung8" id="lung8Copy3"
            data-name="lung8Copy3"
            data-target="barChartCheckboxes.lung8Copy3"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
        <label>
          <input type="checkbox" id="smallInt8"
            data-target="barChartCheckboxes.smallInt8"
            data-action="change->barChartCheckboxes#smallInt8Effect" >Ig.8
        </label>
        <label>
          <input type="checkbox" id="smallInt3"
            data-target="barChartCheckboxes.smallInt3"
            data-action="change->barChartCheckboxes#smallInt3Effect" >Ig.3
        </label>
        <label>
          <input type="checkbox" id="smallInt5"
            data-target="barChartCheckboxes.smallInt5"
            data-action="change->barChartCheckboxes#smallInt5Effect" >Ig.5
        </label>
    </div>
  </div>


  <div class="fe0">
    <div class="indicator_wrapper">
      <div id="fire_in_earth_yin_range"
        data-target="barChartCheckboxes.indicatorWrapper"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange">
        <div class="indicator_background">
          <div class="indicator" id="fire_in_earth_yin"></div>
        </div>
      </div>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_fire_in_earth_yin.value)">
        <div class="slider_wrapper">
          <div class="slider">Mc</div>
            <input type="range" value="50" step="5" id="slide_fire_in_earth_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
        </div>
      </form>
    </div>
    <div class="container_label">
      <label class="liver8_wrapper">
        <div id="liver8Copy4_wrapper">
          <input type="checkbox" class="liver8" id="liver8Copy4"
            data-name="liver8Copy4"
            data-target="barChartCheckboxes.liver8Copy4"
            data-action="change->barChartCheckboxes#liver8Effect" >F.8
        </div>
      </label>
      <label class="liver1_wrapper">
        <div id="liver1Copy4_wrapper">
          <input type="checkbox" class="liver1" id="liver1Copy4"
            data-name="liver1Copy4"
            data-target="barChartCheckboxes.liver1Copy4"
            data-action="change->barChartCheckboxes#liver1Effect" >F.1
        </div>
      </label>
      <label class="gallBladder43_wrapper">
        <div id="gallBladder43Copy5_wrapper">
          <input type="checkbox" class="gallBladder43" id="gallBladder43Copy5"
            data-name="gallBladder43Copy5"
            data-target="barChartCheckboxes.gallBladder43Copy5"
            data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="stomach36_wrapper">
        <div id="stomach36Copy1_wrapper">
          <input type="checkbox" class="stomach36" id="stomach36Copy1"
            data-name="stomach36Copy1"
            data-target="barChartCheckboxes.stomach36Copy1"
            data-action="change->barChartCheckboxes#stomach36Effect" >E.36
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
      <label>
        <input type="checkbox" id="heartGuard9"
          data-target="barChartCheckboxes.heartGuard9"
          data-action="change->barChartCheckboxes#heartGuard9Effect" >Mc.9
      </label>
      <label>
        <input type="checkbox" id="heartGuard8"
          data-target="barChartCheckboxes.heartGuard8"
          data-action="change->barChartCheckboxes#heartGuard8Effect" >Mc.8
      </label>
      <label>
        <input type="checkbox" id="heartGuard7"
          data-target="barChartCheckboxes.heartGuard7"
          data-action="change->barChartCheckboxes#heartGuard7Effect" >Mc.7
      </label>

    </div>
  </div>

  <div class="fe1">
    <div class="indicator_wrapper">
      <div id="fire_in_earth_yang_range"
        data-target="barChartCheckboxes.indicatorWrapper"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange">
      <div class="indicator_background">
        <div class="indicator" id="fire_in_earth_yang"></div>
        </div>
      </div>
    </div>
      <div class="wu_yun_oninput">
        <form oninput="output.value = Math.round(slide_fire_in_earth_yang.value)">
          <div class="slider_wrapper ">
            <div class="slider">Tr</div>
              <input type="range" value="50" step="5" id="slide_fire_in_earth_yang">Ян
              <output class="output" name="output" for="range">
                50
              </output>
          </div>
        </form>
      </div>

      <div class="container_label">
        <label class="liver8_wrapper">
          <div id="liver8Copy5_wrapper">
            <input type="checkbox" class="liver8" id="liver8Copy5"
              data-name="liver8Copy5"
              data-target="barChartCheckboxes.liver8Copy5"
              data-action="change->barChartCheckboxes#liver8Effect" >F.8
          </div>
        </label>
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label class="gallBladder43_wrapper">
          <div id="gallBladder43Copy4_wrapper">
            <input type="checkbox" class="gallBladder43" id="gallBladder43Copy4"
              data-name="gallBladder43Copy4"
              data-target="barChartCheckboxes.gallBladder43Copy4"
              data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
          </div>
        </label>
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label class="kidney10_wrapper">
          <div id="kidney10Copy4_wrapper">
            <input type="checkbox"  class="kidney10" id="kidney10Copy4"
              data-name="kidney10Copy4"
              data-target="barChartCheckboxes.kidney10Copy4"
              data-action="change->barChartCheckboxes#kidney10Effect" >R.10
          </div>
        </label>
        <label>
          <input type="checkbox" id="tripleHeater1"
            data-target="barChartCheckboxes.tripleHeater1"
            data-action="change->barChartCheckboxes#tripleHeater1Effect" >Tr.1
        </label>

        <label>
          <input type="checkbox" id="tripleHeater3"
            data-target="barChartCheckboxes.tripleHeater3"
            data-action="change->barChartCheckboxes#tripleHeater3Effect" >Tr.3
        </label>

        <label>
          <input type="checkbox" id="tripleHeater6"
            data-target="barChartCheckboxes.tripleHeater6"
            data-action="change->barChartCheckboxes#tripleHeater6Effect" >Tr.6
        </label>
        <label>
          <input type="checkbox" id=""
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Tr
        </label>
    </div>
  </div>

  <div class="earth_yin">
    <div class="indicator_wrapper">
      <div id="earth_yin_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="earthYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="earthYin">
        <div class="indicator_background" id="earth_yin_indicator_background" data-id="earthYin" >
          <div class="indicator" id="earth_yin" data-target="barChartCheckboxes.earthYin"
            data-id="earthYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Earth', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_earth_yin.value)">
        <div class="slider_wrapper ">
          <div class="slider">Rp</div>
            <input type="range" value="50" step="5" id="slide_earth_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
        </div>
      </form>
    </div>
    <div class="container_label">
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
        </label>
      <label class="liver1_wrapper">
        <div id="liver1Copy5_wrapper">
          <input type="checkbox" class="liver1" id="liver1Copy5"
            data-name="liver1Copy5"
            data-target="barChartCheckboxes.liver1Copy5"
            data-action="change->barChartCheckboxes#liver1Effect" >F.1
        </div>
      </label>
      <label class="gallBladder43_wrapper">
        <div id="gallBladder43Copy6_wrapper">
          <input type="checkbox" class="gallBladder43" id="gallBladder43Copy6"
            data-name="gallBladder43Copy6"
            data-target="barChartCheckboxes.gallBladder43Copy6"
            data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
        </div>
      </label>
      <label class="lung9_wrapper">
        <div id="lung9Copy4_wrapper" >
          <input type="checkbox" class="lung9" id="lung9Copy4"
            data-name="lung9Copy4"
            data-target="barChartCheckboxes.lung9Copy4"
            data-action="change->barChartCheckboxes#lung9Effect" >P.9
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="lung8_wrapper">
        <div id=lung8Copy4_wrapper>
          <input type="checkbox" class="lung8" id="lung8Copy4"
            data-name="lung8Copy4"
            data-target="barChartCheckboxes.lung8Copy4"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label>
        <input type="checkbox" id="spleen2"
          data-target="barChartCheckboxes.spleen2"
          data-action="change->barChartCheckboxes#spleen2Effect">Rp.2
      </label>
      <label>
        <input type="checkbox" id="spleen3"
          data-target="barChartCheckboxes.spleen3"
          data-action="change->barChartCheckboxes#spleen3Effect" >Rp.3
      </label>
      <label>
        <input type="checkbox" id=""
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >F.
      </label>
      <label>
        <input type="checkbox" id=""
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >F.
      </label>
    </div>
  </div>


  <div class="earth_yang">
    <div class="indicator_wrapper">
      <div id="earth_yang_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="earthYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="earthYang">
        <div class="indicator_background" id="earth_yin_indicator_background" data-id="earthYang" >
          <div class="indicator" id="earth_yang" data-target="barChartCheckboxes.earthYang"
            data-id="earthYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Earth', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_earth_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider">E</div>
            <input type="range" value="50" step="5" id="slide_earth_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
        </div>
      </form>
    </div>

      <div class="container_label">
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>
        <label class="stub_wrapper">
          <div>
            <input type="checkbox" class="stub" >X
          </div>
        </label>

        <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="stomach36_wrapper">
        <div id="stomach36Copy2_wrapper">
          <input type="checkbox" class="stomach36" id="stomach36Copy2"
            data-name="stomach36Copy2"
            data-target="barChartCheckboxes.stomach36Copy2"
            data-action="change->barChartCheckboxes#stomach36Effect" >E.36
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="kidney10_wrapper">
        <div id="kidney10Copy3_wrapper">
          <input type="checkbox"  class="kidney10" id="kidney10Copy3"
            data-name="kidney10Copy3"
            data-target="barChartCheckboxes.kidney10Copy3"
            data-action="change->barChartCheckboxes#kidney10Effect" >R.10
        </div>
      </label>
    </div>
   </div>

  <div class="metal_yin">
    <div class="indicator_wrapper">
      <div id="metal_yin_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="metalYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="metalYin">
        <div class="indicator_background" id="metal_yin_indicator_background" data-id="metalYin" >
          <div class="indicator" id="metal_yin" data-target="barChartCheckboxes.metalYin"
            data-id="metalYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Metal', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_metal_yin.value)">
        <div class="slider_wrapper ">
         <div class="slider">P</div>
            <input type="range" value="50" step="5" id="slide_metal_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
        </div>
      </form>
    </div>

    <div class="container_label">
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="gallBladder43_wrapper">
        <div id="gallBladder43Copy7_wrapper">
          <input type="checkbox" class="gallBladder43" id="gallBladder43Copy7"
            data-name="gallBladder43Copy7"
            data-target="barChartCheckboxes.gallBladder43Copy7"
            data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="lung8_wrapper">
        <div id=lung8_wrapper>
          <input type="checkbox" class="lung8" id="lung8"
            data-name="lung8"
            data-target="barChartCheckboxes.lung8"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label>
        <input type="checkbox" id=""
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >P.
      </label>
    </div>
  </div>

  <div class="metal_yang">
     <div class="indicator_wrapper">
      <div id="metal_yang_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="metalYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="metalYang">
        <div class="indicator_background" id="metal_yang_indicator_background" data-id="metalYang" >
          <div class="indicator" id="metal_yang" data-target="barChartCheckboxes.metalYang"
            data-id="metalYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Metal', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_metal_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider">Gi</div>
            <input type="range" value="50" step="5" id="slide_metal_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
        </div>
      </form>
    </div>
      <div class="container_label">
        <label class="liver8_wrapper">
          <div id="liver8Copy7_wrapper">
            <input type="checkbox" class="liver8" id="liver8Copy7"
              data-name="liver8Copy7"
              data-target="barChartCheckboxes.liver8Copy7"
              data-action="change->barChartCheckboxes#liver8Effect" >F.8
          </div>
        </label>
        <label class="liver1_wrapper">
          <div id="liver1Copy6_wrapper">
            <input type="checkbox" class="liver1" id="liver1Copy6"
              data-name="liver1Copy6"
              data-target="barChartCheckboxes.liver1Copy6"
              data-action="change->barChartCheckboxes#liver1Effect" >F.1
          </div>
        </label>
        <label class="gallBladder43_wrapper">
          <div id="gallBladder43Copy8_wrapper">
            <input type="checkbox" class="gallBladder43" id="gallBladder43Copy8"
              data-name="gallBladder43Copy8"
              data-target="barChartCheckboxes.gallBladder43Copy8"
              data-action="change->barChartCheckboxes#gallBladder43Effect" >Gb.43
          </div>
        </label>
        <label class="lung9_wrapper">
          <div id="lung9Copy5_wrapper" >
            <input type="checkbox" class="lung9" id="lung9Copy5"
              data-name="lung9Copy5"
              data-target="barChartCheckboxes.lung9Copy5"
              data-action="change->barChartCheckboxes#lung9Effect" >P.9
          </div>
        </label>

        <label class="stomach36_wrapper">
          <div id="stomach36Copy3_wrapper">
            <input type="checkbox" class="stomach36" id="stomach36Copy3"
              data-name="stomach36Copy3"
              data-target="barChartCheckboxes.stomach36Copy3"
              data-action="change->barChartCheckboxes#stomach36Effect" >E.36
          </div>
        </label>
        <label class="lung8_wrapper">
          <div id=lung8Copy5_wrapper>
            <input type="checkbox" class="lung8" id="lung8Copy5"
              data-name="lung8Copy5"
              data-target="barChartCheckboxes.lung8Copy5"
              data-action="change->barChartCheckboxes#lung8Effect" >P.8
          </div>
        </label>
        <label class="kidney10_wrapper">
          <div id="kidney10Copy2_wrapper">
            <input type="checkbox"  class="kidney10" id="kidney10Copy2"
              data-name="kidney10Copy2"
              data-target="barChartCheckboxes.kidney10Copy2"
              data-action="change->barChartCheckboxes#kidney10Effect" >R.10
          </div>
        </label>



      </div>
   </div>

  <div class="water_yin">
    <div class="indicator_wrapper">
      <div id="water_yin_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="waterYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="waterYin">
        <div class="indicator_background" id="water_yin_indicator_background" data-id="waterYin" >
          <div class="indicator" id="water_yin" data-target="barChartCheckboxes.waterYin"
            data-id="waterYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Water', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
      <div class="wu_yun_oninput">
        <form oninput="output.value = Math.round(slide_water_yin.value)">
          <div class="slider_wrapper ">
            <div class="slider">R</div>
              <input type="range" value="50" step="5" id="slide_water_yin">Инь
              <output class="output" name="output" for="range">
                50
            </output>
          </div>
        </form>
      </div>

    <div class="container_label">
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="liver1_wrapper">
        <div id="liver1Copy7_wrapper">
          <input type="checkbox" class="liver1" id="liver1Copy7"
            data-name="liver1Copy7"
            data-target="barChartCheckboxes.liver1Copy7"
            data-action="change->barChartCheckboxes#liver1Effect" >F.1
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="lung9_wrapper">
        <div id="lung9Copy6_wrapper" >
          <input type="checkbox" class="lung9" id="lung9Copy6"
            data-name="lung9Copy6"
            data-target="barChartCheckboxes.lung9Copy6"
            data-action="change->barChartCheckboxes#lung9Effect" >P.9
        </div>
      </label>
      <label class="stomach36_wrapper">
        <div id="stomach36Copy4_wrapper">
          <input type="checkbox" class="stomach36" id="stomach36Copy4"
            data-name="stomach36Copy4"
            data-target="barChartCheckboxes.stomach36Copy4"
            data-action="change->barChartCheckboxes#stomach36Effect" >E.36
        </div>
      </label>
      <label class="lung8_wrapper">
        <div id=lung8Copy6_wrapper>
          <input type="checkbox" class="lung8" id="lung8Copy6"
            data-name="lung8Copy6"
            data-target="barChartCheckboxes.lung8Copy6"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </div>
      </label>
      <label class="kidney10_wrapper">
        <div id="kidney10_wrapper">
          <input type="checkbox" class="kidney10" id="kidney10"
            data-name="kidney10"
            data-target="barChartCheckboxes.kidney10"
            data-action="change->barChartCheckboxes#kidney10Effect" >R.10
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
    </div>
   </div>

  <div class="water_yang">
    <div class="indicator_wrapper">
      <div id="water_yang_range"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="waterYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="waterYang">
        <div class="indicator_background" id="water_yang_indicator_background" data-id="waterYang" >
          <div class="indicator" id="water_yang" data-target="barChartCheckboxes.waterYang"
            data-id="waterYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Water', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <div class="wu_yun_oninput">
      <form oninput="output.value = Math.round(slide_water_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider">V</div>
            <input type="range" value="50" step="5" id="slide_water_yang">Ян
            <output class="output" name="output" for="range">
              50
          </output>
        </div>
      </form>
    </div>

    <div class="container_label">
      <label class="liver8_wrapper">
        <div id="liver8Copy8_wrapper">
          <input type="checkbox" class="liver8" id="liver8Copy8"
            data-name="liver8Copy8"
            data-target="barChartCheckboxes.liver8Copy8"
            data-action="change->barChartCheckboxes#liver8Effect" >F.8
        </div>
      </label>
      <label class="liver1_wrapper">
        <div id="liver1Copy8_wrapper">
          <input type="checkbox" class="liver1" id="liver1Copy8"
            data-name="liver1Copy8"
            data-target="barChartCheckboxes.liver1Copy8"
            data-action="change->barChartCheckboxes#liver1Effect" >F.1
        </div>
      </label>
      <label class="stub_wrapper">
        <div>
          <input type="checkbox" class="stub" >X
        </div>
      </label>
      <label class="lung9_wrapper">
        <div id="lung9Copy7_wrapper" >
          <input type="checkbox" class="lung9" id="lung9Copy7"
            data-name="lung9Copy7"
            data-target="barChartCheckboxes.lung9Copy7"
            data-action="change->barChartCheckboxes#lung9Effect" >P.9
        </div>
      </label>
      <label class="stomach36_wrapper">
        <div id="stomach36Copy5_wrapper">
          <input type="checkbox" class="stomach36" id="stomach36Copy5"
            data-name="stomach36Copy5"
            data-target="barChartCheckboxes.stomach36Copy5"
            data-action="change->barChartCheckboxes#stomach36Effect" >E.36
        </div>
      </label>
      <label class="lung8_wrapper">
        <div id=lung8Copy7_wrapper>
          <input type="checkbox" class="lung8" id="lung8Copy7"
            data-name="lung8Copy7"
            data-target="barChartCheckboxes.lung8Copy7"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </div>
      </label>
      <label class="kidney10_wrapper">
        <div id="kidney10Copy1_wrapper">
          <input type="checkbox"  class="kidney10" id="kidney10Copy1"
            data-name="kidney10Copy1"
            data-target="barChartCheckboxes.kidney10Copy1"
            data-action="change->barChartCheckboxes#kidney10Effect" >R.10
        </div>
      </label>
      <label>
        <input type="checkbox" id="bladder67"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.67
      </label>
      <label>
        <input type="checkbox" id="bladder66"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.66
      </label>
      <label>
        <input type="checkbox" id=""
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.65
      </label>

      <label>
        <input type="checkbox" id=""
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.40
      </label>
      </div>
    </div>



  <script type="text/javascript">
        slide_wood_yin.addEventListener( "change", function() {
         document.querySelector("#wood_yin").style.height=(slide_wood_yin.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_wood_yang.addEventListener( "change", function() {
          document.querySelector("#wood_yang").style.height=(slide_wood_yang.value+"%");
      });
  </script>

  <script type="text/javascript">
        slide_fire_yin.addEventListener( "change", function() {
          document.querySelector("#fire_yin").style.height=(slide_fire_yin.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_fire_yang.addEventListener( "change", function() {
          document.querySelector("#fire_yang").style.height=(slide_fire_yang.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_fire_in_earth_yin.addEventListener( "change", function() {
          document.querySelector("#fire_in_earth_yin").style.height=(slide_fire_in_earth_yin.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_fire_in_earth_yang.addEventListener( "change", function() {
          document.querySelector("#fire_in_earth_yang").style.height=(slide_fire_in_earth_yang.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_earth_yin.addEventListener( "change", function() {
          document.querySelector("#earth_yin").style.height=(slide_earth_yin.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_earth_yang.addEventListener( "change", function() {
          document.querySelector("#earth_yang").style.height=(slide_earth_yang.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_metal_yin.addEventListener( "change", function() {
          document.querySelector("#metal_yin").style.height=(slide_metal_yin.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_metal_yang.addEventListener( "change", function() {
          document.querySelector("#metal_yang").style.height=(slide_metal_yang.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_water_yin.addEventListener( "change", function() {
          document.querySelector("#water_yin").style.height=(slide_water_yin.value+"%");
      });
  </script>
  <script type="text/javascript">
        slide_water_yang.addEventListener( "change", function() {
          document.querySelector("#water_yang").style.height=(slide_water_yang.value+"%");
      });
  </script>
</div>