<% @title="star" %>





<div class="histogramme">

  <div class="wood_yin">
    <div class="indicator_wrapper" id="indicator_wrapper">
      <div id="wood_yin_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="woodYin">
        <div class="indicator_background" id="wood_yin_indicator_background" data-id="woodYin">
          <div class="indicator" id="wood_yin" data-target="barChartCheckboxes.woodYin"
          data-id="woodYin"></div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Wood', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
        <form oninput="output.value = Math.round(slide_wood_yin.value)">
          <div class="slider_wrapper ">
            <div class="slider" > Печень </div>
            <input type="range" value="<%= value %>" step="5" id="slide_wood_yin" >Инь
              <output class="output" name="output" for="range">
               <%= value %>
              </output>
            </div>
        </form>
    <div class="container_label">
      <div class="container_label">
        <div class="liver8_wrapper" id=liver8_wrapper>
          <label>
            <input type="checkbox" id="liver8"
              data-controller="barChartCheckboxes"
              data-target="barChartCheckboxes.liver8"
              data-action="change->barChartCheckboxes#liver8Effect" >F.8
          </label>
        </div>

      <label>
        <input type="checkbox" id="liver1"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes.liver1"
          data-action="change->barChartCheckboxes#liver1Effect" >F.1
      </label>

      <label>
        <input type="checkbox" id=""
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >F.
      </label>

      <label>
        <input type="checkbox" id=""
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >F.
      </label>
      </div>
    </div>
  </div>

  <div class="wood_yang">
    <div class="indicator_wrapper">
      <div id="wood_yang_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="woodYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="woodYang">
        <div class="indicator_background" id="wood_yang_indicator_background" data-id="woodYang" >
          <div class="indicator" id="wood_yang" data-target="barChartCheckboxes.woodYang"
              data-id="woodYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Wood', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
      <form oninput="output.value = Math.round(slide_wood_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider"> Желчный </div>
          <input type="range" value="50" step="5"  id="slide_wood_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
      <div class="container_label">
        <label>
          <input type="checkbox" id="gallBladder44"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.gallBladder44"
            data-action="change->barChartCheckboxes#gallBladder44Effect" >Gb.44
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#Effect" >Gb.43
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Gb.41
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Gb.40
        </label>
    </div>

  </div>

  <div class="fire_yin">
    <div class="indicator_wrapper">
      <div id="fire_yin_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="fireYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="fireYin">
        <div class="indicator_background" id="fire_yin_indicator_background" data-id="fireYin" >
          <div class="indicator" id="fire_yin" data-target="barChartCheckboxes.fireYin"
              data-id="fireYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Fire', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <form oninput="output.value = Math.round(slide_fire_yin.value)">
        <div class="slider_wrapper ">
          <div class="slider"> Сердце  </div>
         <input type="range" value="50" step="5" id="slide_fire_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
    <div class="container_label">
        <label>
          <input type="checkbox" id="heart9"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.heart9"
            data-action="change->barChartCheckboxes#heart9Effect" >C.9
        </label>
        <div class="stomach36_wrapper" id="stomach36Copy1_wrapper">
          <label>
            <input type="checkbox" class="stomach36" id="stomach36Copy1"
              data-name="stomach36Copy1"
              data-controller="barChartCheckboxes"
              data-target="barChartCheckboxes.stomach36Copy1"
              data-action="change->barChartCheckboxes#stomach36Effect" >E.36/1
          </label>
        </div>
      <div class="lung8_wrapper" id=lung8_wrapper>
        <label>
          <input type="checkbox" class="lung8" id="lung8Copy2" data-name="lung8Copy2"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.lung8"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </label>
      </div>

        <div class="lung9_wrapper" id="lung9Copy2_wrapper" >
        <label>
           <input type="checkbox" class="lung9" id="lung9Copy2"
           data-name="lung9Copy2"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes.lung9Copy2"
          data-action="change->barChartCheckboxes#lung9Effect" >P.9/2
        </label>
      </div>
    </div>
  </div>

  <div class="fire_yang">
    <div class="indicator_wrapper">
      <div id="fire_yang_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="fireYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="fireYang">
        <div class="indicator_background" id="fire_yang_indicator_background" data-id="fireYang" >
          <div class="indicator" id="fire_yang" data-target="barChartCheckboxes.fireYang"
            data-id="fireYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Fire', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <form oninput="output.value = Math.round(slide_fire_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider"> Тонкий</div>
         <input type="range" value="50" step="5" id="slide_fire_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
      <div class="container_label">
        <label>
          <input type="checkbox" id="smallInt3"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.smallInt3"
            data-action="change->barChartCheckboxes#smallInt3Effect" >Ig.3
        </label>

        <label>
          <input type="checkbox" id="smallInt5"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.smallInt5"
            data-action="change->barChartCheckboxes#smallInt5Effect" >Ig.5
        </label>

        <label>
          <input type="checkbox" id="smallInt8"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.smallInt8"
            data-action="change->barChartCheckboxes#smallInt8Effect" >Ig.8
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Ig
        </label>
    </div>
  </div>


  <div class="fe0">
    <div class="indicator_wrapper">
      <div id="fire_in_earth_yin_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange">
      <div class="indicator_background">
        <div class="indicator" id="fire_in_earth_yin"></div>
        </div>
      </div>
    </div>
    <form oninput="output.value = Math.round(slide_fire_in_earth_yin.value)">
        <div class="slider_wrapper ">
          <div class="slider"> Перикард </div>
     <input type="range" value="50" step="5" id="slide_fire_in_earth_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
      <div class="container_label">
        <label>
          <input type="checkbox" id="heartGuard9"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.heartGuard9"
            data-action="change->barChartCheckboxes#heartGuard9Effect" >Mc.9
        </label>

        <label>
          <input type="checkbox" id="heartGuard8"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.heartGuard8"
            data-action="change->barChartCheckboxes#heartGuard8Effect" >Mc.8
        </label>

        <label>
          <input type="checkbox" id="heartGuard7"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.heartGuard7"
            data-action="change->barChartCheckboxes#heartGuard7Effect" >Mc.7
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Mc
        </label>
    </div>


  </div>

  <div class="fe1">
    <div class="indicator_wrapper">
      <div id="fire_in_earth_yang_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange">
      <div class="indicator_background">
        <div class="indicator" id="fire_in_earth_yang"></div>
        </div>
      </div>
    </div>
    <form oninput="output.value = Math.round(slide_fire_in_earth_yang.value)">
        <div class="slider_wrapper ">
         <div class="slider"> Тройной </div>
      <input type="range" value="50" step="5" id="slide_fire_in_earth_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
      <div class="container_label">
        <label>
          <input type="checkbox" id="tripleHeater1"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.tripleHeater1"
            data-action="change->barChartCheckboxes#tripleHeater1Effect" >Tr.1
        </label>

        <label>
          <input type="checkbox" id="tripleHeater3"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.tripleHeater3"
            data-action="change->barChartCheckboxes#tripleHeater3Effect" >Tr.3
        </label>

        <label>
          <input type="checkbox" id="tripleHeater6"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.tripleHeater6"
            data-action="change->barChartCheckboxes#tripleHeater6Effect" >Tr.6
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Tr
        </label>
    </div>

  </div>

  <div class="earth_yin">
    <div class="indicator_wrapper">
      <div id="earth_yin_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="earthYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="earthYin">
        <div class="indicator_background" id="earth_yin_indicator_background" data-id="earthYin" >
          <div class="indicator" id="earth_yin" data-target="barChartCheckboxes.earthYin"
            data-id="earthYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Earth', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <form oninput="output.value = Math.round(slide_earth_yin.value)">
        <div class="slider_wrapper ">
          <div class="slider"> Селезенка </div>
       <input type="range" value="50" step="5" id="slide_earth_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
          <div class="container_label">
      <label>
        <input type="checkbox" id="spleen2"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes.spleen2"
          data-action="change->barChartCheckboxes#spleen2Effect">Rp.2
      </label>

      <label>
        <input type="checkbox" id="spleen3"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes.spleen3"
          data-action="change->barChartCheckboxes#spleen3Effect" >Rp.3
      </label>

      <label>
        <input type="checkbox" id=""
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >F.
      </label>

      <label>
        <input type="checkbox" id=""
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >F.
      </label>
    </div>
   </div>

  <div class="earth_yang">
    <div class="indicator_wrapper">
      <div id="earth_yang_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="earthYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="earthYang">
        <div class="indicator_background" id="earth_yin_indicator_background" data-id="earthYang" >
          <div class="indicator" id="earth_yang" data-target="barChartCheckboxes.earthYang"
            data-id="earthYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Earth', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <form oninput="output.value = Math.round(slide_earth_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider"> Желудок </div>
       <input type="range" value="50" step="5" id="slide_earth_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
      <div class="container_label">
        <div class="lung9_wrapper" id="lung9Copy_wrapper" >
        <label>
           <input type="checkbox" class="lung9" id="lung9Copy1"
            data-name="lung9Copy1"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.lung9Copy"
            data-action="change->barChartCheckboxes#lung9Effect" >P.9/1
        </label>
      </div>
      <div class="stomach36_wrapper" id="stomach36_wrapper">
        <label>
          <input type="checkbox" class="stomach36" id="stomach36"
            data-name="stomach36"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.stomach36"
            data-action="change->barChartCheckboxes#stomach36Effect" >E.36
        </label>
      </div>
        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >E
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >E
        </label>
    </div>
   </div>

  <div class="metal_yin">
    <div class="indicator_wrapper">
      <div id="metal_yin_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="metalYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="metalYin">
        <div class="indicator_background" id="metal_yin_indicator_background" data-id="metalYin" >
          <div class="indicator" id="metal_yin" data-target="barChartCheckboxes.metalYin"
            data-id="metalYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Metal', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <form oninput="output.value = Math.round(slide_metal_yin.value)">
        <div class="slider_wrapper ">
         <div class="slider"> Легкие </div>
      <input type="range" value="50" step="5" id="slide_metal_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
    <div class="container_label">
      <div class="lung9_wrapper" id=lung9_wrapper>
        <label>
          <input type="checkbox"  class="lung9" id="lung9"
          data-name="lung9"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.lung9"
            data-action="change->barChartCheckboxes#lung9Effect"  >P.9
        </label>
      </div>
      <div class="lung8_wrapper" id=lung8_wrapper>
        <label>
          <input type="checkbox" class="lung8" id="lung8" data-name="lung8"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.lung8"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8
        </label>
      </div>



      <label>
        <input type="checkbox" id=""
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >P.
      </label>
    </div>

  </div>

  <div class="metal_yang">
     <div class="indicator_wrapper">
      <div id="metal_yang_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="metalYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="metalYang">
        <div class="indicator_background" id="metal_yang_indicator_background" data-id="metalYang" >
          <div class="indicator" id="metal_yang" data-target="barChartCheckboxes.metalYang"
            data-id="metalYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Metal', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <form oninput="output.value = Math.round(slide_metal_yang.value)">
        <div class="slider_wrapper ">
          <div class="slider"> Толстый </div>
       <input type="range" value="50" step="5" id="slide_metal_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
      <div class="container_label">
        <label>
        <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Gi
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Gi
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Gi
        </label>

        <label>
          <input type="checkbox" id=""
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes."
            data-action="change->barChartCheckboxes#" >Gi
        </label>
      </div>
   </div>

  <div class="water_yin">
    <div class="indicator_wrapper">
      <div id="water_yin_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="waterYin"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="waterYin">
        <div class="indicator_background" id="water_yin_indicator_background" data-id="waterYin" >
          <div class="indicator" id="water_yin" data-target="barChartCheckboxes.waterYin"
            data-id="waterYin">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Water', yin_yang: 'Yin') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
      <form oninput="output.value = Math.round(slide_water_yin.value)">
        <div class="slider_wrapper ">
          <div class="slider">
            Почки
          </div>
          <input type="range" value="50" step="5" id="slide_water_yin">Инь
          <output class="output" name="output" for="range">
            50
          </output>
        </div>
      </form>
      <div class="container_label">
        <div class="stomach36_wrapper" id="stomach36Copy2_wrapper">
          <label>
            <input type="checkbox" class="stomach36" id="stomach36Copy2"
              data-name="stomach36Copy2"
              data-controller="barChartCheckboxes"
              data-target="barChartCheckboxes.stomach36Copy2"
              data-action="change->barChartCheckboxes#stomach36Effect" >E.36/2
          </label>
        </div>
      <div class="lung8_wrapper" id=lung8_wrapper>
        <label>
          <input type="checkbox" class="lung8" id="lung8Copy1" data-name="lung8Copy1"
            data-controller="barChartCheckboxes"
            data-target="barChartCheckboxes.lung8"
            data-action="change->barChartCheckboxes#lung8Effect" >P.8/1
        </label>
      </div>

      <label>
        <input type="checkbox" id="kidney10"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes.kidney10"
          data-action="change->barChartCheckboxes#kidney10Effect" >R.10
      </label>

      <label>
        <input type="checkbox" id="kidney7"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes.kidney7"
          data-action="change->barChartCheckboxes#kidney7Effect" >R.7
      </label>
    </div>
   </div>

  <div class="water_yang">
    <div class="indicator_wrapper">
      <div id="water_yang_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"  data-id="waterYang"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange" data-id="waterYang">
        <div class="indicator_background" id="water_yang_indicator_background" data-id="waterYang" >
          <div class="indicator" id="water_yang" data-target="barChartCheckboxes.waterYang"
            data-id="waterYang">
          </div>
        </div>
      </div>
    </div>
    <div>
      <% element = Element.find_by(name: 'Water', yin_yang: 'Yang') %>
      <% total_element_influence = @patient.total_element_influence(element) %>
      <% value = 50 + total_element_influence %>
    </div>
    <form oninput="output.value = Math.round(slide_water_yang.value)">
        <div class="slider_wrapper ">
              <div class="slider"> Мочевой </div>
      <input type="range" value="50" step="5" id="slide_water_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
      <div class="container_label">
      <label>
        <input type="checkbox" id="bladder67"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.67
      </label>

      <label>
        <input type="checkbox" id="bladder66"
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.66
      </label>

      <label>
        <input type="checkbox" id=""
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.65
      </label>

      <label>
        <input type="checkbox" id=""
          data-controller="barChartCheckboxes"
          data-target="barChartCheckboxes."
          data-action="change->barChartCheckboxes#" >V.40
      </label>
    </div>
   </div>

</div>


<script type="text/javascript">
      slide_wood_yin.addEventListener( "change", function() {
       document.querySelector("#wood_yin").style.height=(slide_wood_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_wood_yang.addEventListener( "change", function() {
        document.querySelector("#wood_yang").style.height=(slide_wood_yang.value+"%");
    });
</script>

<script type="text/javascript">
      slide_fire_yin.addEventListener( "change", function() {
        document.querySelector("fire_yin").style.height=(slide_fire_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_fire_yang.addEventListener( "change", function() {
        document.querySelector("#fire_yang").style.height=(slide_fire_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_fire_in_earth_yin.addEventListener( "change", function() {
        document.querySelector("#fire_in_earth_yin").style.height=(slide_fire_in_earth_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_fire_in_earth_yang.addEventListener( "change", function() {
        document.querySelector("#fire_in_earth_yin").style.height=(slide_fire_in_earth_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_earth_yin.addEventListener( "change", function() {
        document.querySelector("#earth_yin").style.height=(slide_earth_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_earth_yang.addEventListener( "change", function() {
        document.querySelector("#earth_yang").style.height=(slide_earth_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_metal_yin.addEventListener( "change", function() {
        document.querySelector("#metal_yin").style.height=(slide_metal_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_metal_yang.addEventListener( "change", function() {
        document.querySelector("#metal_yang").style.height=(slide_metal_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_water_yin.addEventListener( "change", function() {
        document.querySelector("#water_yin").style.height=(slide_water_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_water_yang.addEventListener( "change", function() {
        document.querySelector("#water_yang").style.height=(slide_water_yang.value+"%");
    });
</script>