<% @title="star" %>

Хром слайдер тут:
<div id="input22-wrapper">
    <input id="input22" type="range" value="50" data-controller="barChartCheckboxes" data-action="change->barChartCheckboxes#sliderChange"  data-target="barChartCheckboxes.input22"/>
</div>


<div id="myDiv" data-controller="plottychart" data-target="plottychart.myDiv" style="width:800px;height:400px;"></div>


<div class="slider1-container"  >Вот мой новый ползунок
  <input type="range" min="1" max="100" value="50" class="slider1" id="my_range" data-controller="barChartCheckboxes" data-action="click->barChartCheckboxes#slider" data-target="barChartCheckboxes.myRange" >
  <p>Value: <span id="demo"></span></p>
</div>



  Minimum Value: <input id="minimum-value" type="text" value="0"  /> <br/>
    Maximum Value: <input id="maximum-value" type="text" value="100"  /> <br/>
    <input id="submit-value" type="submit" value="Submit"/> <br/>
    Slider Value: <span id="sliderValue"></span> <br/>
    <div id="slider2-container" data-controller="barChartCheckboxes" data-action="click->barChartCheckboxes#slider2" data-target="barChartCheckboxes.sliderContainer">
      <div id="slider-bar" ></div>
      <div id="slider-handle" ></div>
    </div>


<div class="histogramme">

  <div class="w0">
    <div class="indicator_wrapper" id="indicator_wrapper">
      <div id="wood_yin_range" data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.indicatorWrapper"
        data-action="click->barChartCheckboxes#IndicatorWrapperRange">
        <div class="indicator_background" id="wood_yin_indicator_background">
          <div class="indicator" id="w0" data-target="barChartCheckboxes.w0"></div>
        </div>
      </div>
    </div>

    <div class="slider" > slider </div>
        <form oninput="output.value = Math.round(slide_wood_yin.value)">
          <div class="slider_wrapper ">
            <input type="range" value="50" step="5" id="slide_wood_yin" >Инь
              <output class="output" name="output" for="range">
               50
              </output>
            </div>
        </form>


    <label>
      <input type="checkbox" id="liver8"
        data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.liver8"
        data-action="change->barChartCheckboxes#liver8Effect" >F.8
    </label>

    <label>
      <input type="checkbox" id="liver1"
        data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.liver1"
        data-action="change->barChartCheckboxes#liver1Effect" >F.1
    </label>

    <label>
      <input type="checkbox" id="kidney10"
        data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.kidney10"
        data-action="change->barChartCheckboxes#kidney10Effect" >R.3
    </label>

    <label>
      <input type="checkbox" id="kidney7"
        data-controller="barChartCheckboxes"
        data-target="barChartCheckboxes.kidney7"
        data-action="change->barChartCheckboxes#kidney7Effect" >R.7
    </label>

  </div>


  <div class="w1">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="w1"></div>
      </div>
    </div>
    <div class="slider"> slider </div>

      <form oninput="output.value = Math.round(slide_wood_yang.value)">
        <div class="slider_wrapper ">
          <input type="range" value="50" step="5"  id="slide_wood_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>

  </div>

  <div class="f0">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="f0"></div>
        </div>
      </div>
    <div class="slider"> slider </div>

    <form oninput="output.value = Math.round(slide_fire_yin.value)">
        <div class="slider_wrapper ">
         <input type="range" value="50" step="5" id="slide_fire_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>

  </div>

  <div class="f1">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="f1"></div>
        </div>
    </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_fire_yang.value)">
        <div class="slider_wrapper ">
         <input type="range" value="50" step="5" id="slide_fire_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>

  </div>

  <div class="fe0">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="fe0"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_fire_in_earth_yin.value)">
        <div class="slider_wrapper ">
     <input type="range" value="50" step="5" id="slide_fire_in_earth_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>

  </div>

  <div class="fe1">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="fe1"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_fire_in_earth_yang.value)">
        <div class="slider_wrapper ">
      <input type="range" value="50" step="5" id="slide_fire_in_earth_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>

  </div>

  <div class="e0">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="e0"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_earth_yin.value)">
        <div class="slider_wrapper ">
       <input type="range" value="50" step="5" id="slide_earth_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
   </div>

  <div class="e1">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="e1"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_earth_yang.value)">
        <div class="slider_wrapper ">
       <input type="range" value="50" step="5" id="slide_earth_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
   </div>

  <div class="m0">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="m0"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_metal_yin.value)">
        <div class="slider_wrapper ">
      <input type="range" value="50" step="5" id="slide_metal_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
   </div>

  <div class="m1">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="m1"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_metal_yang.value)">
        <div class="slider_wrapper ">
       <input type="range" value="50" step="5" id="slide_metal_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
   </div>

  <div class="wt0">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="wt0"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
        <form oninput="output.value = Math.round(slide_water_yin.value)">
        <div class="slider_wrapper ">
       <input type="range" value="50" step="5" id="slide_water_yin">Инь
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
   </div>

  <div class="wt1">
    <div class="indicator_wrapper">
      <div class="indicator_background">
        <div class="indicator" id="wt1"></div>
        </div>
      </div>
    <div class="slider"> slider </div>
    <form oninput="output.value = Math.round(slide_water_yang.value)">
        <div class="slider_wrapper ">
      <input type="range" value="50" step="5" id="slide_water_yang">Ян
            <output class="output" name="output" for="range">
              50
            </output>
          </div>
      </form>
   </div>

</div>


<form data-controller="search checkbox">
  Раз<input type="checkbox" data-target="search.result checkbox.input" name="green" id="example1" data-action="change->search#probe" >
  Два<input type="checkbox" data-target="search.black" name="black" id="example2"  data-action="change->search#check1">
<!--   <span data-target="search#connect">Коннект</span> -->
<span data-target="search.output">Аутпут</span>
</form>


<div data-controller="choice">
  Галочка для w0<input type="checkbox" data-target="choice.name1"  data-action="change->choice#probe">

  <div  class="probe" data-target="choice.probe">probe</div>
</div>

Вот тут С3 у нас:
<div id="chart" data-controller="mychart" data-target="mychart.chart" ></div>





<div data-controller="canvas" >
    <button  data-action="click->canvas#probe">
    Канвас
  </button>
  <canvas id="eprst" width="500" height="500" data-target="canvas.output" ></canvas>
</div>


</div>

<script type="text/javascript">
      slide_wood_yin.addEventListener( "change", function() {
       document.querySelector("#w0").style.height=(slide_wood_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_wood_yang.addEventListener( "change", function() {
        document.querySelector("#w1").style.height=(slide_wood_yang.value+"%");
    });
</script>

<script type="text/javascript">
      slide_fire_yin.addEventListener( "change", function() {
        document.querySelector("#f0").style.height=(slide_fire_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_fire_yang.addEventListener( "change", function() {
        document.querySelector("#f1").style.height=(slide_fire_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_fire_in_earth_yin.addEventListener( "change", function() {
        document.querySelector("#fe0").style.height=(slide_fire_in_earth_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_fire_in_earth_yang.addEventListener( "change", function() {
        document.querySelector("#fe1").style.height=(slide_fire_in_earth_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_earth_yin.addEventListener( "change", function() {
        document.querySelector("#e0").style.height=(slide_earth_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_earth_yang.addEventListener( "change", function() {
        document.querySelector("#e1").style.height=(slide_earth_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_metal_yin.addEventListener( "change", function() {
        document.querySelector("#m0").style.height=(slide_metal_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_metal_yang.addEventListener( "change", function() {
        document.querySelector("#m1").style.height=(slide_metal_yang.value+"%");
    });
</script>
<script type="text/javascript">
      slide_water_yin.addEventListener( "change", function() {
        document.querySelector("#wt0").style.height=(slide_water_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_water_yang.addEventListener( "change", function() {
        document.querySelector("#wt1").style.height=(slide_water_yang.value+"%");
    });
</script>