<% @title="star" %>

<div class="histogramme">

  <div class="w0"> 2
    <div class="indicator_wrapper">
      <div class="indicator" id="w0"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_wood_yin">Инь
    </div>
  </div>

  <div class="w1"> 3
    <div class="indicator_wrapper">
      <div class="indicator" id="w1"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_wood_yang">Ян
    </div>
  </div>

  <div class="f0"> 5
    <div class="indicator_wrapper">
      <div class="indicator" id="f0"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_fire_yin">Инь
    </div>
  </div>

  <div class="f1"> 6
    <div class="indicator_wrapper">
      <div class="indicator" id="f1"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_fire_yang">Ян
    </div>
  </div>

  <div class="fe0"> 8
    <div class="indicator_wrapper">
      <div class="indicator" id="fe0"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
     <input type="range" value="50" id="slide_fire_in_earth_yin">Инь
     </div>
  </div>

  <div class="fe1"> 9
    <div class="indicator_wrapper">
      <div class="indicator" id="fe1"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_fire_in_earth_yang">Ян
    </div>
  </div>

  <div class="e0"> 11
    <div class="indicator_wrapper">
      <div class="indicator" id="e0"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_earth_yin">Инь
    </div>
  </div>

  <div class="e1"> 12
    <div class="indicator_wrapper">
      <div class="indicator" id="e1"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_earth_yang">Ян
    </div>
  </div>

  <div class="m0"> 14
    <div class="indicator_wrapper">
      <div class="indicator" id="m0"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
     <input type="range" value="50" id="slide_metal_yin">Инь
   </div>
  </div>

  <div class="m1"> 15
    <div class="indicator_wrapper">
      <div class="indicator" id="m1"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_metal_yang">Ян
    </div>
  </div>

  <div class="wt0"> 17
    <div class="indicator_wrapper">
      <div class="indicator" id="wt0"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
      <input type="range" value="50" id="slide_water_yin">Инь
    </div>
  </div>

  <div class="wt1"> 18
    <div class="indicator_wrapper">
      <div class="indicator" id="wt1"></div>
    </div>
    <div class="slyder"> slyder </div>
    <div class="histogramme_slider">
     <input type="range" value="50" id="slide_water_yang">Ян
   </div>
  </div>






<!--   <div class="empty"> 31 </div>
  <div class="empty"> 32 </div>
  <div class="empty"> 33 </div>
  <div class="empty"> 34 </div>
  <div class="empty"> 35 </div>
  <div class="empty"> 36 </div> -->








</div>


<div>
  <p>
    Диаграмма
  </p>
  <div class="bar_chart">
<!--
    <div class="wood_points">
      <div class="wood_div ">
        <input type="range" value="50" id="slide_wood_yin">Инь
        <input type="range" value="50" id="slide_wood_yang">Ян
    </div> -->
     <p>
      Точки дерева
      красная
      зеленая
      синяя
      </p>
    </div>
    <div class="wood_bar_yin">
      wood Ying
    </div>
    <div class="wood_bar_yang">
      wood Yang
    </div>
<!--
     <div class="fire_points">
      <div class="fire_div">
        <input type="range" value="50" id="slide_fire_yin">Инь
        <input type="range" value="50" id="slide_fire_yang">Ян
      </div> -->
      <p>
        Точки огня:
        зеленая
        красная
        синяя
      </p>
    </div>
    <div class="fire_bar_yin">
      fire Yin
    </div>
    <div class="fire_bar_yang">
      fire Yang
    </div>

    <div class="earth_points">
      Точки для земли
    </div>
    <div class="earth_bar_yin">
      земля Инь
    </div>
    <div class="earth_bar_yang">
      земля Ян
    </div>

    <div class="metal_points">
      Точки для металла
    </div>
    <div class="metal_bar_yin">
      metal Yin
    </div>
    <div class="metal_bar_yang">
      metal Yang
    </div>

    <div class="water_points">
      Точки для воды
    </div>
    <div class="water_bar_yin">
      water Yin
    </div>
    <div class="water_bar_yang">
      water Yang
    </div>
  </div>



</div>
<script type="text/javascript">
      slide_wood_yin.addEventListener( "change", function() {
        document.querySelector("#w0").style.height=(slide_wood_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_wood_yang.addEventListener( "change", function() {
        document.querySelector("#w1").style.height=(slide_wood_yang.value+"%");
    });
</script>

<script type="text/javascript">
      slide_fire_yin.addEventListener( "change", function() {
        document.querySelector("#f0").style.height=(slide_fire_yin.value+"%");
    });
</script>
<script type="text/javascript">
      slide_fire_yang.addEventListener( "change", function() {
        document.querySelector("#f1").style.height=(slide_fire_yang.value+"%");
    });
</script>