<h2>ВЛИВАНИЕ ПО 24 МИНУТЫ:</h2>
<table>
  <tr>
  <% @opened_points_infusion.each do |point| %>
    <td><%= point %><td>

  </tr>
  <% end %>
</table>

  <h2>Солнечное время в г. <%= @doctor_city.name.to_s %> сейчас: <%= @sun_time.to_s(:short) %></h2>