<h2>ВЛИВАНИЕ ПО 24 МИНУТЫ:</h2>
<table>
  <tr>
  <% @opened_points_infusion.each do |i| %>
    <td><%= i %><td>
  </tr>
  <% end %>
</table>

  <h2>Солнечное время в г. <%= CITIES[0].values[0].to_s %> сейчас: <%= @sun_time.to_s(:short) %></h2>