/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
outline: none !important
}

$font_size: 1rem;

body, .wu_yun_energyes_map, .full, .empty, .lost, #_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
  #date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
  #_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
  #_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
  #patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id,
  #name, #diagnosis, #description, #visit_description, #treatment, #patient_description,
  #patient_diagnosis, #patient_name, #doctor_email, #doctor_phone, #doctor_password,
  #doctor_password_confirmation, #doctor_city_id, .btn_mode>a, .btn-control, input[type=submit],
  #patient_city_id  {
  font-size: $font_size;
}

html, body {
  height: 100%;
  margin-bottom: 30px;
 }

.btn_mode {
  display: inline-block;
}
.theme-light, .theme-bright, .theme-olive, .theme-grey{
  width: 100%;
}


@media (min-width: 320px) and (max-width: 725px) {
  #doctor_email, #doctor_phone, #doctor_password, #doctor_password_confirmation, #doctor_city_id {
  font-size: 1.1rem;
  }
  .theme-light, .theme-bright, .theme-olive, .theme-grey {
    .wu_yun_energyes_map {
      grid-template-areas:
        "full"
        "empty"
        "lost";
    }

    .indicator_background {
      display: grid;
      opacity: 95%;
      max-width: 35%;
      min-width: 35%;
    }
  }
  body, .wu_yun_energyes_map, .full, .empty, .lost, #_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
  #date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
  #_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
  #_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
  #patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id,
  #name, #diagnosis, #description, #visit_description, #treatment, #patient_description,
  #patient_diagnosis, #patient_name, .btn_mode>a, .btn-control, input[type=submit],
  #patient_city_id, .slider {
    font-size: 1.1rem;
  }

  .stub_wrapper, .lung8_wrapper, .lung9_wrapper, .stomach36_wrapper, .liver1_wrapper, .liver8_wrapper,
  .gallBladder43_wrapper, .kidney7_wrapper, .kidney10_wrapper, .heartGuard9_wrapper,
  .heartGuard8_wrapper {
    // min-width: 7vmin;
    // max-width: 7vmin;
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid white;
    border-color: transparent;
  }

  .lung9_wrapper:hover, .stomach36_wrapper:hover, .lung8_wrapper:hover, .lung8_wrapper:hover,
  .liver1_wrapper:hover, .gallBladder43_wrapper:hover, .kidney7_wrapper:hover, .kidney10_wrapper:hover,
  .heartGuard9_wrapper:hover, .heartGuard8_wrapper:hover {
    background-color: transparent;
  }
}

@media (min-width: 726px) and (max-width: 1025px) {
  #doctor_email, #doctor_phone, #doctor_password, #doctor_password_confirmation, #doctor_city_id {
  font-size: 1.1rem;
  }
  .theme-light, .theme-bright, .theme-olive, .theme-grey {
    .wu_yun_energyes_map {
      grid-template-areas:
        "full"
        "empty"
        "lost";
    }

    .indicator_background {
      display: grid;
      opacity: 95%;
      max-width: 25%;
      min-width: 25%;
    }
  }
  body, .wu_yun_energyes_map, .full, .empty, .lost, #_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
  #date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
  #_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
  #_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
  #patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id,
  #name, #diagnosis, #description, #visit_description, #treatment, #patient_description,
  #patient_diagnosis, #patient_name, .paid_until, .btn_mode>a, .btn-control, input[type=submit],
  #patient_city_id, .slider {
    font-size: 3vmin;
    font-size: 1rem;
  }

  .stub_wrapper, .lung8_wrapper, .lung9_wrapper, .stomach36_wrapper, .liver1_wrapper, .liver8_wrapper,
  .gallBladder43_wrapper, .kidney7_wrapper, .kidney10_wrapper, .heartGuard9_wrapper,
  .heartGuard8_wrapper {
    min-width: 7vmin;
    max-width: 7vmin;
    font-weight: bold;
    border: 2px solid olive;
    border-radius: 15%;
  }
}

@media (min-width: 1026px) {
  #doctor_email, #doctor_phone, #doctor_password, #doctor_password_confirmation, #doctor_city_id{
  font-size: $font_size;
  }
  .theme-light, .theme-bright, .theme-olive, .theme-grey {
    .wu_yun_energyes_map {
      display: grid;
      grid-template-columns: minmax(1fr, auto);
      grid-template-areas:
        "full empty"
        "lost lost";
    }
  }
  body, .wu_yun_energyes_map, .full, .empty, .lost, #_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
  #date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
  #_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
  #_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
  #patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id,
  #name, #diagnosis, #description, #visit_description, #treatment, #patient_description,
  #patient_diagnosis, #patient_name, .btn_mode>a, .paid_until, .btn-control, input[type=submit], #patient_city_id {
    font-size: $font_size;
  }
  .stub_wrapper, .lung8_wrapper, .lung9_wrapper, .stomach36_wrapper, .liver1_wrapper, .liver8_wrapper,
  .gallBladder43_wrapper, .kidney7_wrapper, .kidney10_wrapper, .heartGuard9_wrapper,
  .heartGuard8_wrapper {
    border: 2px solid olive;
    border-radius: 15%;
  }
}

#patient_name {
  cursor: auto;
}

.wu_yun_container {
  display: grid;
}

input[type=email]{
  width:  max-content;
}

.theme-light {
  $background_color:  #dfddb9;
  $background_color_button: wheat;
  background-color: $background_color;
  .slider {
   background-color: #d0cc95;
  }
  .list_control {
    background-color: darken($background_color, 10%);
    border: 1px solid rgba(128, 128, 0, 1);
    box-shadow: 1px 1px 6px  rgba(128, 128, 0, 0.8);
  }
}

// .theme-light {
//   $background_color:  #e8e6ca;
//   $background_color_button: wheat;
//   background-color: $background_color;
//   .btn-control {
//     background-color: #f9ebd2;
//   }
//   .slider {
//    background-color: #f7f7ed;
//   }
// }

.theme-bright {

  $background_color:  #efeedc;
  $background_color_button: #f7f7ed;
  $font_color: black;
  $background_color_input_field: olive;
  .slider {
    color: black;
    background-color: #f7f7ed;
  }
  color: $font_color;
  background-color: $background_color;

  .btn_mode>a, .btn-control, input[type=submit], #patient_city_id {
    background-color: #f9ebd2;
    border: 2px solid #8B4513;
    box-shadow: 3px 3px 3px rgba(102, 51, 0, 0.5);
  }
  #_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
  #date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
  #_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
  #_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
  #patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id {
    background-color: #d8d5a6;
    // box-shadow: 3px 3px 3px #630;
    border: 2px solid black;
  }
  .patient_delete_control {
    background-color: rgba(255, 127, 80, 1);
    border: 2px solid black;
  }
}

.theme-olive {
  background-color:  rgba(128, 128, 0, 0.7);
  $background_color_input_field: olive;
  $font_color: rgba(255, 165, 0, 1);
  color: black;
  .slider {
    background-color: rgba(255, 165, 0, 0.7);
  }

  .list_control {
    background-color: rgba(128, 128, 0, 0.8);
    border: 1px solid darkolivegreen;
    box-shadow: 1px 1px 6px  rgba(128, 128, 0, 1);
  }

  #_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
  #date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
  #_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
  #_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
  #patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id {
    background-color: ($background_color_input_field + 50%);
    border: 2px solid #630;
  }
  .btn_mode>a, .btn-control, input[type=submit], #patient_city_id {
    background-color: transparentize(($font_color + 25%), 0.3);
    border: 2px solid #630;

  }
  a {
    border: 2px solid #630;
  }
}

.theme-grey {
  filter: invert(10%);
  $background_color: #8c8c8c;
  background-color: $background_color;
  $background_color_input_field: lightgrey;
  color: black;
  a, .btn-control, input[type=submit] {
    border: 2px solid #630;
  }
  .btn-control:hover, input[type=submit]:hover {
    background-color: #630;
    border: 2px solid black;
    box-shadow: 2px 2px 6px  black;
  }

  .list_control {
    background-color: lighten($background_color, 15%);
    border: 2px solid #630;
    box-shadow: 2px 2px 6px  white;
  }

  .wu_yun_energyes_map, .full, .empty, .lost, .paid_until, #_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
  #date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
  #_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
  #_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
  #patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id,
  #name, #diagnosis, #description, #visit_description, #treatment, #patient_description,
  #patient_diagnosis, #patient_name, #doctor_email, #doctor_phone, #doctor_password,
  #doctor_password_confirmation, #doctor_city_id, .btn_mode>a, .btn-control, input[type=submit],
  #patient_city_id {
    background-color: $background_color_input_field;
    border: 2px solid #630;
  }

  #_date_3i:hover, #_date_2i:hover, #_date_1i:hover, #_date_4i:hover, #_date_5i:hover,
  #date__1i:hover, #date__2i:hover, #date__3i:hover, #_visited_at_5i:hover,
  #_visited_at_4i:hover, #_visited_at_3i:hover, #_visited_at_2i:hover, #_visited_at_1i:hover,
  #_birthdate_5i:hover, #_birthdate_4i:hover, #_birthdate_3i:hover, #_birthdate_2i:hover,
  #_birthdate_1i:hover, #patient_birthdate_5i:hover, #patient_birthdate_4i:hover,
  #patient_birthdate_3i:hover, #patient_birthdate_2i:hover, #patient_birthdate_1i:hover,
  #city_id:hover{
    background-color: #630;
    border: 2px solid black;
  }

  .slider {
    background-color: #d0cc95;
    border-radius: 5%;
  }
}

.list_control_wrapper {
  display: grid;
  justify-items: center;
}

.label_with_fix_width {
  min-width: 10rem;
  width: 10rem;
}

.list_control {
  width: 75%;
  justify-self: center;
  justify-content: space-evenly;
  background-color: #e8e6ca;
  border: 1px solid olive;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 0.5%;
  box-shadow: 1px 1px 6px  #9e9947;
}

.page, .prev, .next, .last, .first {
  display: inline-grid;
  min-width: 8vmax;
  max-width: 12vmax;
  text-align: center;
}

.page>a, .prev>a, .next>a, .last>a, .first>a {
  margin: 2px;
}

.page.current {
  background-color: yellow;
  border: 2px solid red;
  border-radius: 4px;
  max-width: 10vmax;
}

.full {
  grid-area: full;
  // background-color: rgba(255, 193, 77, 0.5);
  background-color: rgba(255, 219, 153, 0.6);
}

.empty{
  grid-area: empty;
  background-color: #d0cc95;
}

.lost {
  grid-area: lost;
  display: grid;
  border: 1px solid lemonchiffon;
  background: linear-gradient(90deg, #9e9947 0%, lemonchiffon 25%, lemonchiffon 70%, #9e9947 100%);
}


.full_table, .empty_table {
  width: 100%;
  table-layout: fixed;
}

.lost_table {
  justify-self: center;
}
.td_lost_qi {
  background-color: #dfddb9;
  border-radius: 4px;
  margin: 10px;
  padding: 3px 4px 2px 4px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: 3px 3px 3px #630;
  border: 2px solid olive;
}

.full_table a, .empty_table a{
  background-color: #dfddb9;
}

.lost_table a{
  background-color: #dfddb9;
}


.td_lost_qi {
  border: 2px solid #630;
}

.full_table tr:nth-child(even) {
  background-color: darken(rgba(255, 219, 153, 0.6), 10%);
}


// .empty_table tr:nth-child(odd) {
//   background-color: lighten( DarkKhaki, 15%);
// }

.empty_table tr:nth-child(even) {
  background-color: darken(#d0cc95 , 10%);
}

.wu_yun_first_cell {
  width: 25%;
  padding-left: 1%;
}

.full_table tr:first-child {
border-bottom: 1px solid #000;
}

// .full_table tr:first-child {
//   background-color: lighten(rgba(255, 165, 0, 0.4), 10%);
// }

// .empty_table tr:first-child {
//   background-color: lighten(rgba(128, 128, 0, 0.4), 5%);
// }

.reversed_list {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.reversed_list>li {
  margin-right: 20px;
  margin-bottom: 25px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.reversed_list_without_bullets {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 0px;
}

.reversed_list_without_bullets>li {
  list-style: none;
}

.histogramme {
  display: grid;
  grid-template-columns: repeat(auto-fill, 8%);
  justify-content: center;
  grid-template-rows: 25vmax minmax(25vmax, 30em);
  border: solid 2px #000;
  input[type="checkbox"] {
    display: none;
  }
}

.histogramme_header{
  text-align: center;
}

.wu_yun_advanced_energies_and_houses {
  display: grid;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 35px;
  border: 3px solid #000000;
  background: orange;
  cursor: pointer;
}

.stub_wrapper, .lung8_wrapper, .lung9_wrapper, .stomach36_wrapper, .liver1_wrapper, .liver8_wrapper,
.gallBladder43_wrapper, .kidney7_wrapper, .kidney10_wrapper, .heartGuard9_wrapper,
.heartGuard8_wrapper {
  text-align: center;
  cursor: pointer;
  margin-bottom: 0.2rem;
  padding: 0.1rem;
}

.stub_wrapper {
  font-weight: normal;
  color: olive;
  mix-blend-mode: luminosity;
  border: 2px solid white;
  border-color: transparent;
  cursor: auto;
}

.lung9_wrapper:hover, .stomach36_wrapper:hover, .lung8_wrapper:hover, .liver1_wrapper:hover,
.liver8_wrapper:hover, .gallBladder43_wrapper:hover, .kidney7_wrapper:hover, .kidney10_wrapper:hover,
.heartGuard9_wrapper:hover, .heartGuard8_wrapper:hover {
  border: 2px solid black;
  background-color: rgba(255, 165, 0, 1);
}

.indicator {
  max-width: 100%;
  min-width: 100%;
  box-shadow: 5px 2px 8px 0px #595527;
  height: 50%;
  max-height: 100%;
  transition: height 0.05s ease-out;
  border-top: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 2px;
}

.indicator_wrapper {
  display: grid;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 80%;
  justify-items: center;
  align-items: end;
  background: rgb(208,204,149);
  background: linear-gradient(0deg, rgba(208,204,149,1) 50%, rgba(153,0,204,1) 50%, rgba(223,221,185,1) 51%);
}

#wood_yin_range, #wood_yang_range, #fire_yin_range, #fire_yang_range,
 #fire_in_earth_yin_range, #fire_in_earth_yang_range, #earth_yin_range,
 #earth_yang_range, #metal_yin_range, #metal_yang_range, #water_yin_range,
 #water_yang_range {
  display: grid;
  height: 100%;
  width: 96%;
  justify-items: center;
  align-items: end;
}

// .liver1_selected,  .liver8_selected, .gallBladder43_selected,
//   .gallBladder43Copy1_selected, .gallBladder43Copy2_selected, .gallBladder43Copy3_selected,
//   .gallBladder43Copy4_selected, .gallBladder43Copy5_selected, .gallBladder43Copy6_selected,
//   .gallBladder43Copy7_selected, .gallBladder43Copy8_selected,
//   .spleen2_selected, .spleen3_selected, .kidney10_selected, .kidney10Copy1_selected,
//   .kidney10Copy2_selected, .kidney10Copy3_selected, .kidney10Copy4_selected,
//   .kidney10Copy5_selected, .kidney10Copy6_selected, .kidney10Copy7_selected, .kidney7_selected,
//   .kidney7_selected, .kidney7Copy1_selected, .kidney7Copy2_selected, .kidney7Copy3_selected,
//   .kidney7Copy4_selected, .lung9_selected, .lung9Copy1_selected, .lung9Copy2_selected,
//   .lung9Copy3_selected, .lung9Copy4_selected, .lung9Copy5_selected, .lung9Copy6_selected,
//   .lung9Copy7_selected, .lung8_selected, .lung8Copy1_selected, .lung8Copy2_selected,
//   .lung8Copy3_selected, .lung8Copy4_selected, .lung8Copy5_selected, .lung8Copy6_selected,
//   .lung8Copy7_selected,
//   .heart9_selected, .smallInt3_selected, .smallInt5_selected, .smallInt8_selected,
//   .heartGuard9_selected, .heartGuard8_selected, .heartGuard7_selected, .tripleHeater1_selected,
//   .tripleHeater3_selected, .tripleHeater6_selected, .stomach41_selected, .stomach36_selected,
//   .stomach36Copy1_selected, .stomach36Copy2_selected, .stomach36Copy3_selected,
//   .stomach36Copy4_selected, .stomach36Copy5_selected, .kidney10_wrapper_selected  {
//   background: linear-gradient(0deg, rgba(72,61,139,0.75) 20%, rgba(213,201,238,0.5) 80%);
//   border-right: 1px solid #4d4d00;
//   border-left: 1px solid #4d4d00;
// }

.selected_energyes {
  background: linear-gradient(0deg, rgba(72,61,139,0.75) 20%, rgba(213,201,238,0.5) 80%);
  border-right: 1px solid #4d4d00;
  border-left: 1px solid #4d4d00;
}

.container_label{
  display: grid;
  justify-content: space-evenly;
}

.similar_points {
  background-color: rgba(72,61,139, 0.4);
  border-radius: 5px;
  /*transition: background-color 0.1s ease-out;*/
}

.checked_point {
  background-color: rgba(255, 69, 0, 0.5);
  border-radius: 5px;
  /*transition: background-color 0.1s ease-out;*/
}

.indicator_background {
  display: grid;
  opacity: 95%;
  max-width: 25%;
  min-width: 25%;
  height: 100%;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 2px;
  box-shadow: 5px 2px 8px 0px #8e883e;
  background: rgb(183,179,123);
  background: linear-gradient(90deg, rgba(183,179,123,1) 8%, rgba(210,207,173,1) 25%, rgba(237,236,222,1) 50%, rgba(210,207,173,1) 75%, rgba(183,179,123,1) 92%);
  justify-items: center;
  align-items: end;

}

.slider_wrapper {
  display: grid;
  justify-items: center;
}

.slider {
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 165, 0, 0.7);
    border: 1px solid olive;
    border-radius: 5%;
  }

#wood_yin {
background: rgb(114,243,114);
background: linear-gradient(90deg, rgba(114,243,114,1) 5%, rgba(0,179,0,1) 20%, rgba(0,128,0,1) 50%, rgba(0,179,0,1) 80%, rgba(114,243,114,1) 95%);
}

#wood_yang {
background: rgb(0,128,0);
background: linear-gradient(90deg, rgba(0,128,0,1) 5%, rgba(0,230,0,1) 25%, rgba(114,243,114,1) 50%, rgba(0,230,0,1) 75%, rgba(0,128,0,1) 95%);
}

#fire_yin {
background: rgb(254,154,155);
background: linear-gradient(90deg, rgba(254,154,155,1) 5%, rgba(254,103,105,1) 20%, rgba(203,1,4,1) 50%, rgba(254,103,105,1) 80%, rgba(254,154,155,1) 95%);
}

#fire_yang {
background: rgb(203,1,4);
background: linear-gradient(90deg, rgba(203,1,4,1) 5%, rgba(254,103,105,1) 25%, rgba(254,154,155,1) 50%, rgba(254,103,105,1) 75%, rgba(203,1,4,1) 95%);
}

#fire_in_earth_yin {
  background: rgb(255,189,103);
background: linear-gradient(90deg, rgba(255,189,103,1) 5%, rgba(230,145,0,1) 20%, rgba(255,105,51,1) 50%, rgba(230,145,0,1) 80%, rgba(255,189,103,1) 95%);
}

#fire_in_earth_yang {
  background: rgb(255,105,51);
background: linear-gradient(90deg, rgba(255,105,51,1) 0%, rgba(255,190,77,1) 20%, rgba(255,218,153,1) 50%, rgba(255,190,77,1) 80%, rgba(255,105,51,1) 100%);
}

#earth_yin {
background: rgb(255,255,0);
background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(255,221,26,1) 20%, rgba(230,195,0,1) 50%, rgba(255,221,26,1) 80%, rgba(255,255,0,1) 100%);}

#earth_yang {
  /*background-color: #ffffb3;*/
  /*background: rgb(255,255,0);
background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(255,255,102,1) 20%, rgba(255,255,179,1) 50%, rgba(255,255,102,1) 80%, rgba(255,255,0,1) 100%);*/

background: rgb(255, 221, 26);
background: linear-gradient(90deg, rgba(255, 221, 26, 1) 0%, rgba(255,236,128,1) 20%, rgba(255,255,128,1) 50%, rgba(255,236,128,1) 80%, rgba(255, 221, 26, 1) 100%);
}
#metal_yin {
 background: rgb(204,204,204);
background: linear-gradient(90deg, rgba(204,204,204,1) 5%, rgba(153,153,153,1) 20%, rgba(115,115,115,1) 50%, rgba(153,153,153,1) 80%, rgba(204,204,204,1) 95%);
}

#metal_yang {
  background: rgb(128,128,128);
background: linear-gradient(90deg, rgba(128,128,128,1) 5%, rgba(179,179,179,1) 20%, rgba(217,217,217,1) 50%, rgba(179,179,179,1) 80%, rgba(128,128,128,1) 95%);
}

#water_yin {
background: rgb(157,208,225);
background: linear-gradient(90deg, rgba(157,208,225,1) 5%, rgba(54,145,176,1) 20%, rgba(36,97,117,1) 50%, rgba(54,145,176,1) 80%, rgba(157,208,225,1) 95%);}

#water_yang {
  background: rgb(42,113,137);
background: linear-gradient(90deg, rgba(42,113,137,1) 5%, rgba(99,180,207,1) 20%, rgba(177,218,231,1) 50%, rgba(99,180,207,1) 80%, rgba(42,113,137,1) 95%);
}

 .wood_yin, .wood_yang, .fire_yin, .fire_yang, .fe0, .fe1, .earth_yin, .earth_yang, .metal_yin,
 .metal_yang, .water_yin, .water_yang {
  height: 100%;
  width: 1fr;
}

.wood_points, .fire_points, .earth_points, .metal_points, .water_points {
  width: 1fr;
}

.wood_bar_yin, .wood_bar_yang, .fire_bar_yin, .fire_bar_yang, .earth_bar_yin, .earth_bar_yang,
.metal_bar_yin, .metal_bar_yang, .water_bar_yin, .water_bar_yang {
  max-width: 25%;
  min-width: 25%;
  height: 50%;
  justify-self: center;
}

.wood_points {
  grid-area: wp;
}

input {
cursor: auto;
}

#slide_wood_yang, #slide_wood_yin, #slide_fire_yin, #slide_fire_yang, #slide_fire_in_earth_yin,
#slide_fire_in_earth_yang, #slide_earth_yin, #slide_earth_yang, #slide_metal_yin, #slide_metal_yang,
#slide_water_yin, #slide_water_yang {
  display: grid;
  width: 5%;
  height: 10vmax;
  -webkit-appearance: slider-vertical;
}

.slider1-container {
  display: grid;
  justify-items: center;
  align-items: end;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  // box-shadow: 3px 3px 3px #000000;
  background: rgba(128, 128, 0, 0.5);
  border-radius: 1px;
  border: 1px solid black;
}

.wood_bar_yang {
  grid-area: w1;
  background-color: #99ff99;
}

.fire_points {
  grid-area: fp;
}

.fire_bar_yin {
  grid-area: f0;
  background-color: #ff4d4d;
}

.fire_bar_yang {
  grid-area: f1;
  background-color: #ffb3b3;
}
.earth_points {
  grid-area: ep;
}

.earth_bar_yin{
  grid-area: e0;
  background-color: yellow;
}

.earth_bar_yang {
  grid-area: e1;
  background-color: #ffffb3;
}

.metal_points {
  grid-area: mp;
}

.metal_bar_yin {
  grid-area: m0;
  background-color: #999999;
}

.metal_bar_yang {
  grid-area: m1;
  background-color: #cccccc;
}

.water_points {
  grid-area: wtp;
}

.water_bar_yin{
  grid-area: wt0;
  background-color:  #76bdd5;
}

.water_bar_yang {
  grid-area: wt1;
  background-color: #b1dae7;
}


.bar_chart {
  display: grid;
  grid-gap: 3px;
  min-height: 800px;
  grid-template-areas: " wp ws_yin w0 wb_yin w1 fp f0 f1 ep e0 e1 mp m0 m1 wtp wt0 wt1 ";
  align-items: end;

}

.points_linguibafa_7>a, .highlight_2>a {
  display: block;
  text-align: center;
  padding: 3px;
}

.infusion_7 {
  text-align: center;
  white-space: nowrap;
  /*border-collapse :collapse;*/
}

.infusion_7_points>td>a {
  padding: 0px 6px;

}

.infusion_7_points>td>a {
 text-decoration: none;
}

.infusion_7 .table_next_day {
  background-color: darkorange;
  display: inline-block;
  text-align: center;
  border: 1px solid darkolivegreen;
}

/*.infusion_7 tr:nth-child(even) {
background-color: #cfcc96;
}*/

.infusion_7_points:nth-child(odd) {
background-color: #cfcc96;
}

.infusion_7_points:nth-child(even) {
background-color: #bfbb73;
}

.infusion_7_time_mark:nth-child(1n){
  display: none;
}

.highlight {
  text-align: center;
}

.highlight, .highlight_2>a {
  color: red;
  border: 1px solid red;
}

.highlight_2>a {
  background-color: yellow;
}

// .navigation>ul>li>a{
//  background-color: lightblue;
// }

ul>li {
  list-style-type: disc;
  padding: 5px;
}

// table, tr, td, td>a{
//   border-spacing: 5px 4px;
// }

ul {
    margin-bottom: 20px;
}

// ol, td {
//   font-weight: bold;
// }

a {
  display: inline-block;
  margin-bottom: 4px;
  background-color: #afaa50;
  text-decoration: none;
  color: black;
  box-shadow: 3px 3px 3px #630;
  border: 2px solid #630;
  border-radius: 4px;
  padding: 0.05%;
  margin: 10px;
  padding: 3px 4px 2px 4px;
  // min-width: 8rem;
  // max-width: 20vmin;
  text-align: center;
}

#name, #diagnosis, #description, #visit_description, #treatment, #patient_description, #patient_diagnosis,
#patient_name, #doctor_email, #doctor_phone, #doctor_password, #doctor_password_confirmation,
#doctor_city_id, #doctor_city_id {
  background-color: rgba(245, 222, 179, 0.7);
  border: 2px solid #8B4513;
  border-radius: 4px;
  padding: 3px 4px 3px 4px;
  margin: 3px;
  min-width:50%;
}

#_date_3i, #_date_2i, #_date_1i, #_date_4i, #_date_5i, #date__1i,
#date__2i, #date__3i, #_visited_at_5i, #_visited_at_4i, #_visited_at_3i,
#_visited_at_2i, #_visited_at_1i, #_birthdate_5i, #_birthdate_4i, #_birthdate_3i,
#_birthdate_2i, #_birthdate_1i, #patient_birthdate_5i, #patient_birthdate_4i,
#patient_birthdate_3i, #patient_birthdate_2i, #patient_birthdate_1i, #city_id {
  background-color: #afaa50;
  // box-shadow: 3px 3px 3px #630;
  cursor: pointer;
  border: 2px solid olive;
  border-radius: 4px;
  padding: 3px 4px 1px 4px;
  margin: 0.5%;
}

#_date_3i:hover, #_date_2i:hover, #_date_1i:hover, #_date_4i:hover, #_date_5i:hover,
#date__1i:hover, #date__2i:hover, #date__3i:hover, #_visited_at_5i:hover,
#_visited_at_4i:hover, #_visited_at_3i:hover, #_visited_at_2i:hover, #_visited_at_1i:hover,
#_birthdate_5i:hover, #_birthdate_4i:hover, #_birthdate_3i:hover, #_birthdate_2i:hover,
#_birthdate_1i:hover, #patient_birthdate_5i:hover, #patient_birthdate_4i:hover,
#patient_birthdate_3i:hover, #patient_birthdate_2i:hover, #patient_birthdate_1i:hover,
#city_id:hover{
  color: white;
}

// #_date_3i:option {
//   background-color: rgba(245, 222, 179, 1);
//   box-shadow: 3px 3px 3px #630;
//   cursor: pointer;
//   border: 2px solid #8B4513;
//   border-radius: 4px;
//   padding: 3px 4px 1px 4px;
// }

.paid_until {
  background-color: wheat;
  border: 2px solid #8B4513;
  border-bottom: 5px solid #630;
  border-right: 3px solid #630;
  border-radius: 4px;
  padding: 3px 4px 2px 4px;
  margin-bottom: 10px;
}

.btn-control, input[type=submit], #patient_city_id  {
  background-color: wheat;
  box-shadow: 3px 3px 3px #630;
  cursor: pointer;
  border: 2px solid #8B4513;
  border-radius: 4px;
  padding: 3px 4px 2px 4px;
  margin-bottom: 10px;
  // font-size: 1.6vmax;
}

a:hover, .btn-control:hover, input[type=submit]:hover {
  outline: none !important;
  background-color: #999900;
  color: white;
  border: 2px solid #630;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #666600;
}


a:active,  .btn-control:active, input[type=submit]:active {
  color: white;
  outline: none !important;
  background-color: #666600;
  box-shadow: inset -1px -1px 2px white;
  border: 2px solid white;
  transform: scale(0.95);

}

.highlight, .highlight_2>a:hover {
  border: 1px solid black;
}

.highlight_2>a:active {
    border: 1px solid white;
    box-shadow: 3px 2px 3px 2px white;
}

.patient_delete_control {
  margin-left: 15px;
  background-color: rgba(255, 127, 80, 1);

}

.patient_delete_control:hover {
  color: orangered;
  border: 3px solid red;
  background-color: black;
  box-shadow: 4px 4px 4px #FF7F50;
}


.patient_delete_control:active {
  color: white;
  border: 2px solid white;
  background-color: black;
  box-shadow: inset -2px -2px 2px white;
  transform: scale(0.95);

}

.li-control {
  margin-top: 2px;
}

